h1.neon {
    text-align: center;
    text-decoration:dotted underline;
    color:rgb(14, 7, 2);
    transition-property:color ;
    transition-duration: 2000ms;
    background-color:honeydew;
    position:static;
    transition-delay: 2s;
}
h1.neon:hover {color:purple;
           transform:scale(2,2);
}
.navbar {text-decoration-line:none;
     color: rgb(17, 3, 3);
     transition-property: color;       
}                                                                    
.navbar:hover {color:pink;
          }
.memorycard {
        text-align: center;
        border:7px solid purple;
        background-color:antiquewhite;
        display:flex;
        flex-direction: row;
} 
div.contentblock_image-wrapper_egtq3 { text-align: center;

}
#image1 {width:400px;
    height:300px;
    align-content:center; 
} 
h2 {text-align: center;
 color:black;
text-decoration: dashed underline;}

#para1 {
          background-color:pink; 
          border:3px solid pink;
          
    }
#para2 {
     background-color:purple; 
    border:3px solid purple;}
#para3 {
     background-color:pink; 
     border:3px solid pink;}
#para4 {
    background-color:purple; 
    border:3px solid purple;}
#para5 {
    background-color:pink; 
    border:3px solid pink;}

div.container {display:flex;
           justify-content: space-between;
           }
#image2 {width:400px;
    height:300px;
    align-content:center; 
} 
div.image34 {text-align: center;
        }
h1 {text-align: center;
color:rgb(14, 7, 2);
text-decoration: dashed underline;
}
.premium {border:5px dotted purple;
       width:400px;
     background-color:pink ;}
#free {border:5px dotted pink;
   width:400px;
   background-color:purple;}
#demo {border:5px dotted purple;
   width:400px;
   background-color:pink;}
div.experience {display:flex;}
#how_to_play {color:purple;}
#rules {margin:30px;
   border:8px ridge purple;
   padding:50px;
   background-color:pink;
   text-transform: uppercase;
}
#variations {color:darkmagenta}
div#image6,#image5 {text-align: center;
             }
div.para {border:15px dashed palevioletred;
     background-color:papayawhip;}
@keyframes animation1{
    0% {color:rgb(148,27,49);
    opacity: 0.5;}
    60% {color:rgb(148,27,49);
        opacity: 0.8;}
    100% {color:rgb(148, 27, 49);
         opacity: 1;}
}
#level1,#level3 {animation-name: animation1;
                   animation-duration: 2s;
                   animation-iteration-count: infinite;
                    animation-timing-function:ease;
                    }
@keyframes animation2 {
     0% {color:purple;
        opacity: 0.5;}
    60% {color:purple;
        opacity: 0.8;}
    100% {color:purple;
          opacity: 1;}
    }
#level2,#match {animation-name: animation2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
     animation-timing-function:ease;}
  